body{
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("assets/grey_wash_wall.png");
}

.parent {
    display: flex;
    padding: 25px;
}

.row2{
    display: flex;
    padding: 25px;
}

.row3{
    display: flex;
    padding: 25px;
}

.row4{
    display: flex;
    padding: 25px;

}

.home{    
    display: block;
    width: 15%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;    
    border-radius: 25px; 
    border-style: outset;
    border-color: oldlace;
    background-image: url("assets/mochaGrunge.png");
}
.positions{    
    display: block;
    width: 15%;
    padding: 25px;
    border-radius: 25px; 
    border-style: outset;
    border-color: oldlace;
    background-image: url("assets/mochaGrunge.png");
}
.graphs{    
    flex-grow: 6;
    padding: 25px;
    border-radius: 25px; 
    border-style: outset;
    border-color: oldlace;
    background-image: url("assets/mochaGrunge.png");
}
.position-view{    
    flex-grow: 4;
    padding: 25px;
    border-radius: 25px; 
    border-style: outset;
    border-color: oldlace;
    background-image: url("assets/mochaGrunge.png");
}
.stage-view{    
    flex-grow: 4;
    padding: 25px;
    border-radius: 25px; 
    border-style: outset;
    border-color: oldlace;
    background-image: url("assets/mochaGrunge.png");
}
.note-view{    
    flex-grow: 4;
    padding: 25px;
    border-radius: 25px; 
    border-style: outset;
    border-color: oldlace;
    background-image: url("assets/mochaGrunge.png");
}

.tasks{  
    display: block;
    width: 250px; 
    padding: 25px; 
    border-radius: 25px; 
    border-style: outset;
    border-color: oldlace;
    background-image: url("assets/mochaGrunge.png");
}



.note-card{
    padding-right: 100px;
    background-color: teal;
}

#note-form{
    background-color: skyblue;
    padding-top: 30px;
    padding-right: 50px;
}

.edit-input-text-scrollable{
    height: 100px; 
    width: 300px;
    align-content: left;
    overflow-wrap: break-word;
    
    /* text-overflow: auto;
    size: 250 */
    /* ex */
}

.new-input-text-scrollable{
    height: 100px; 
    width: 300px;
    align-content: left;
    overflow-wrap: break-word;
}

div.scrolling-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto;
    background-color: paleturquoise;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;

}

.scrolling-wrapper > div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    flex: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrolling-wrapper div:hover{
    background-color: orange;
}

.stage-card {
display: flex;
flex-shrink: 1;
text-align: center;
padding: 14px;
padding-top: 15px;

} 


.high { background-color: #FF958E}
.medium {background-color: #FEF9A5;}
.low { background-color: #C7FFB4;}

#new-task, #edit-task{
    display: block;
    padding-left: 25px;
    background-color: lightgray;
}

.delete-button{
    border-radius: 8px;
    background-color: inherit;
}
.edit-button{
    border-radius: 8px;
    background-color: inherit;
    pointer-events: auto
}
.complete-button{
    border-radius: 8px;
    background-color: inherit;
}

.task-list {
    position: sticky; height: 500px; width: inherit; overflow: scroll; padding-right: 20px; scrol
}

#task-toggle-button{
    background-color: inherit;
}
  