#positions-div p{
    padding-left: 15px;
}
.positions{
    padding-left: 30px;
}
/* positions collapsible menu */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    height: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  /* .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 50%;
  } */


  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }



  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }




/* tasks sidebar menu  */

/* The sidepanel menu */
.tasksSidepanel {
    height: 350px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    top: 70;
    right: 0;
    /* display: block; */
    padding-right: none;
    background-color: whitesmoke; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .tasksSidepanel div li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .tasksSidepanel div li:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .tasksSidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

























.parent {
    display: flex;
    align-items: flex-start;    
}

.parent h2{
    padding-left: 30px;
}



.row2{
    display: flex;
    align-items: center;
}
/*  allows for stages menu to be centered
.row3{
    display: inline-block;
    flex-shrink: 0;
    align-items: flex-start;
}
 */
.row4{
    display: flex;
    align-items: center;
} 

.note-card{
    padding-right: 100px;
    background-color: teal;
}

#note-form{
    background-color: skyblue;
    padding-top: 30px;
    padding-right: 50px;
}
.edit-input-text-scrollable{
    height: 100px; 
    width: 300px;
    align-content: left;
    overflow-wrap: break-word;
    
    /* text-overflow: auto;
    size: 250 */
    /* ex */
}

.new-input-text-scrollable{
    height: 100px; 
    width: 300px;
    align-content: left;
    overflow-wrap: break-word;
}
   
.row3{
    text-align: center;
}
.stage-view{
    text-align: center;
    padding-top: 60px;
}

/* horizontal scrolling menu */

.scrolling-wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto;
    background-color: paleturquoise;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;

}

.scrolling-wrapper div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    flex: auto;
    outline-style: inset;
    column-gap: 400px;

    /* pointer-events: none; */
    /* flex: 0 0 auto; */
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrolling-wrapper div:hover{
    background-color: orange;
}

.stage-card {
display: flex;
flex-shrink: 1;
text-align: center;
padding: 14px;
padding-top: 15px;

} 

#addStageCard{
    color: aquamarine;
}

#addStageCard :hover{
    background-color: blueviolet;
}

/*  */




.high { background-color: #FF958E}
.medium {background-color: #FEF9A5;}
.low { background-color: #C7FFB4;}

#new-task{
    display: block;
    padding-left: 25px;
    background-color: lightgray;
}

.delete-button{
    border-radius: 8px;
    background-color: inherit;
}
.edit-button{
    border-radius: 8px;
    background-color: inherit;
}
.complete-button{
    border-radius: 8px;
    background-color: inherit;
}

.task-list {
    position: sticky; height: 500px; padding-right: 15px;
    /* position: -webkit-sticky;
    position: sticky;
    top:0; */
}

  

.home{    flex-grow: 3;}
.positions{    flex-grow: 3;}
.graphs{    flex-grow: 6;}
.position-view{    flex-grow: 6;}
.stage-view{    flex-grow: 6;}
.note-view{    flex-grow: 6;}
.tasks{  flex-grow: 1; width: 250px; }

