@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

::-webkit-scrollbar{
  border-radius: 10px;
}

.signup, .signup-title {
  /* padding-top: 15px; */
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  zoom: 155%;
}

.signup-title p{
  font-size: 32px;
  /* font-weight: bold; */
}

header h4{
  align-self: center;
  /* align-content: center; */
}
body {
    background-image: url("assets/grey_wash_wall.png");
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Jost', sans-serif;
}

.nav {
    /* border: white; */
    font-family: 'Jost', sans-serif;
    /* width: 13.2in; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-image: url("assets/mochaGrunge.png");
    border-radius: 20px;
    align-items: center;
    border-style: groove;

}

.nav li {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.nav button {
    justify-self: right;
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
}


/* modified */
.parent {
    display: grid;
    grid-template-columns: none 75% auto auto 25%;
    /* repeat(5, 1fr); */
    grid-template-rows: auto;
    /* repeat(5, 1fr); */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
.div1 { 
    grid-area: 1 / 1 / 6 / 2; 
    grid-template-columns: none;
    /* background-color:  cadetblue;  */
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:left;
    column-gap: 15px;
    row-gap: 15px;
    /* background-image: url("assets/mochaGrunge.png"); */
    /* border-radius: 20px; */
    /* border-style: groove; */
}


.div2 { 
    grid-area: 1 / 1 / auto / 5; 
    grid-template-columns: 9in;
    /* width: 9in; */
    background-color:  rgb(181, 216, 218); 
    /* overflow-x: hidden; 
    overflow-y: auto; */
    column-gap: 5px; 
    row-gap: 1em;
    background-image: url("assets/mochaGrunge.png");
    border-radius: 20px;
    border-style: groove;
}
.div3 { 
    grid-area: 2 / 1 / auto / 5;
    background-color:  rgb(181, 216, 218); 
    /* width: 9in; */
    overflow-x: hidden; 
    overflow-y: hidden;
       column-gap: 5px; 
    row-gap: 1em;
    background-image: url("assets/mochaGrunge.png");
    border-radius: 20px;
    border-style: groove;
}
.div4 { 
    grid-area: 3 / 1 / 6 / 5;
    background-color:  rgb(181, 216, 218); 
    /* width: 9in; */
    overflow-x: hidden; 
    overflow-x: auto; 
    column-gap: 5px;
    row-gap: 1em;
    background-image: url("assets/mochaGrunge.png");
    border-radius: 20px;
    border-style: groove;

}

.div4 div{
  margin: 20px;
}
.div5 { 
    grid-area: 1 / 6 / 6 / 6;
    width: 4in;
    grid-template-columns: 5;
    background-color:  rgb(181, 216, 218); 
    /* overflow-y: hidden;  */
    
    overflow-y: auto;
    column-gap: 5px; 
    row-gap: 1em;
    background-image: url("assets/mochaGrunge.png");
    border-radius: 20px;
    border-style: groove;
}
.div6 { 
    grid-area: 3 / 5 / 6 / 6;
    background-color:  rgb(181, 216, 218); 
    overflow-x: hidden;
    overflow-x: auto; 
    column-gap: 5px;
    row-gap: 1em;
    background-image: url("assets/mochaGrunge.png");
    border-radius: 20px;
    border-style: groove;
}





/* original */
/* .parent {
    display: flex;
    align-items: flex-start;
} */

/* .row2{
    display: flex;
    padding: 25px;
}
/*  allows for stages menu to be centered
.row3{
    display: flex;
    padding: 25px;
}
 */
.row4{
    display: flex;
    align-items: center;
} 



.note-card{
    padding-right: 100px;
    padding-left: 20px;
    background-image: url("assets/grey_wash_wall.png");
    border-radius: 20px;
    color: whitesmoke;
}

#note-form{
    background-image: url("assets/grey_wash_wall.png");
    padding-top: 30px;
    padding-right: 50px;
    border-radius: 20px;
}

.edit-input-text-scrollable{
    height: 100px; 
    width: 300px;
    align-content: left;
    overflow-wrap: break-word;
    
    /* text-overflow: auto;
    size: 250 */
    /* ex */
}

.new-input-text-scrollable{
    height: 100px; 
    width: 300px;
    align-content: left;
    overflow-wrap: break-word;
}





.scrolling-wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: auto;
    background-image: url("assets/grey_wash_wall.png");
    overflow-y: hidden;
    /* overflow-x: auto; */
    white-space: nowrap;
    border-radius: 20px;
    cursor: pointer;


}

.scrolling-wrapper div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    flex: auto;
    outline-style: inset;
    column-gap: 400px;

    /* pointer-events: none; */
    /* flex: 0 0 auto; */
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrolling-wrapper div:hover{
    background-color: silver;
}

#stage-card {
display: inline;
flex-shrink: 1;
text-align: center;
padding: 14px;
padding-top: 15px;
border-radius: 20px;

} 


/* #stage-card p {
  display: inline-block;
} */

#addStageCard{
    color: black;
}


.stage-view{
  display: inline;
}




#new-task, #edit-task{
    display: block;
    padding-bottom: 15px;
    border-radius: 20px;
    background-image: url("assets/grey_wash_wall.png");
}

.delete-button{
    border-radius: 8px;
    background-color: inherit;
}
.edit-button{
    border-radius: 8px;
    background-color: inherit;
    pointer-events: auto
}
.complete-button{
    border-radius: 8px;
    background-color: inherit;
}

.task-list {
    position: sticky; 
    height: 500px; 
    /* padding: 15px; */
    column-gap: 10px;
    border-radius: 20px;
    row-gap: 1em;
    padding-left: 10px;
    padding-right: 10px;
  
}

.task-list li{
  row-gap: 1em;

}

.high { background-color: rgb(231, 222, 221); border-radius: 20px; }
.medium {background-color: grey;border-radius: 20px; }
.low { background-color: white;border-radius: 20px; }

/* menu stylings */


/* positions side panel */
.posSidepanel {
  height: 350px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 70;
  left: 0;
  background-color: hsl(0, 0%, 63%); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  border-radius: 20px;
}

/* The sidepanel links */
.posSidepanel div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #0c0c0c;
  display: block;
  transition: 0.3s;


}

/* When you mouse over the navigation links, change their color */
.posSidepanel div p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

#pos-sidebar-header{
  font-size: 24px;
}

.posSidepanel .new-pos-link:hover{
  color: #ffa915e7;
}

/* Position and style the close button (top right corner) */
.posSidepanel .closebtn {
  position: absolute;
  color: rgb(123, 123, 123);
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
}

.posSidepanel .closebtn:hover{
  color: black;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


/* end pos side panel  */





/* position view drop down view */

/* Style the button that is used to open and close the collapsible content */

#pos-view-bar{
  font-size: 24px;
  border-radius: inherit;
  /* width: 9in; */
  
}

.posCollapsibleView {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: inherit;
  border: none;
  border-radius: inherit;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .posCollapsibleView:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
/* .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} */


.posContent {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  border-radius: inherit;
  transition: max-height 0.2s ease-out;
}


/* .posCollapsibleView:after {
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  color: orange;
  background-color: orange;
} */


/* STAGE VIEW DIV */
.stage-card-view h3{
  font-size: 29px;
}